@import "../100vh.css";

.container {
  background-color: white;
  height: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

form {
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

input,
label {
  padding: 5px 10px;
}

h3 {
  color: #186aff;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

fieldset {
  border: none;
}

.form-fields {
  /* width: 100%; */
  display: grid;
  row-gap: 1rem;
  border-radius: 5px;
  grid-template-columns: 2fr 3fr;
}

button {
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  -webkit-tap-highlight-color: red;
  background-color: #0f4fc3;
}
