*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    height: 100%;
    padding: 20px 50px;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center;  */
}

.column{
    border: 2px solid white;
    color: white;
    background-color: blue;
}